Flask==3.0.0
Werkzeug==3.0.0
torch --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless==4.5.5.64
lmdb==1.4.0
scikit-image==0.19.3
shapely==2.0.0
svgpathtools==1.5.1
gdown==4.6.4
easyocr==1.7.1
pandas==2.1.2